body {
    margin: 0;
}

.father {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.child {
    background-color: tomato;
    display: flex;
    color: white;
    font-size: 28px;
    align-items: center;
    justify-content: center;
}

