$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl : 1200px;

@mixin sm-device {
    @media screen and (min-width: $breakpoint-sm) {
        @content;   
    }
}

@mixin md-device {
    @media screen and (min-width: $breakpoint-md) {
        @content;
    }
}

@mixin lg-device {
    @media screen and (min-width: $breakpoint-lg) {
        @content;
    }
}

@mixin xl-device {
    @media screen and (min-width: $breakpoint-xl) {
        @content;
    }
}

body {
    @include sm-device {
        background-color: blue;
    }

    @include md-device {
        background-color: purple;
    }

    @include lg-device {
        background-color: grey;
    }

    @include xl-device {
        background-color: pink;
    }
}