@use "./reset.scss";

body {
    background-color: #DDE6D1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    background-color: black;
    width: 340px;
    height: 95%;
    padding: 50px 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-sizing: border-box;

}

.header {
    overflow-x: scroll;
    .header_list {
        color: white;
        width: max-content;
        display: flex;
        overflow: hidden;
        gap: 10px;

        .header_list-item {
            border: 1px solid rgba($color: #fff, $alpha: 0.5);
            padding: 10px;
            border-radius: 24px;            
        }

        .header_list-item--inverted {
            background-color: white;
            color: black;
        }
    }
}


.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    .cards_card {
        background-color: gray;
        min-height: 100px;
        padding: 10px;
        border-radius: 16px;
        gap: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;

        .card_title {
            font-size: 24px;
            line-height: 30px;
        } 

        .card_footer {
            font-size: 12px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            span {
                border: 1px solid black;
                border-radius: 24px;
                padding: 6px;
                min-width: 12px;
            }
            .price {
                background-color: #FFDD2D;

            }

            .length {
                background-color: white;
                display: flex;
                justify-content: center;    
                align-items: center;

            }
        }

        &:nth-child(3n) {
            grid-column: span 2;
        }

        &:nth-child(1) {
            background-color: #292D33;
            border: 1px solid white;
            .card_title {
                color: white;
            }

        }

        &:nth-child(2) {
            background-color: #F5F3EF;
        }

        &:nth-child(3) {
            background-color: #F8FCB4;
        }

        &:nth-child(4) {
            background-color: #B3A0F6;
        }

        &:nth-child(5) {
            background-color: #FFD0D0;
        }

        &:nth-child(6) {
            background-color: #D1FFDE;
        }
    }
}
